<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="YoutubeJournalistEntities" connectionString="metadata=res://*/YoutubeJournalistEntityModel.csdl|res://*/YoutubeJournalistEntityModel.ssdl|res://*/YoutubeJournalistEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=YoutubeJournalist;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>